.login-button {
  background: linear-gradient(108deg, #3710ab, #9125bf);
border: double;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
color: rgb(255, 255, 255);
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
transition: opacity 0.25s;
border-radius: 20px;
  }
  .login-button:hover{
   opacity: 0.7;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
   box-sizing: 100%;
  }
  .login-button:active{
   opacity: 0.4;
  }
  body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    background-image: url("lap.jpg");
  
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.text-bar {
  width: 100%;
  padding: 12px 20px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 13px;

}

.image {
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.circularimg { position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%; padding: 100px; } .circular--portrait img { width: 100%; height: auto; }

body {
  background: linear-gradient(120deg, #555, #000000)
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

li {
float: left;
border-right:1px solid #bbb;
}

li:last-child {
border-right: none;
}

li a {
display: block;
color: rgb(255, 255, 255);
text-align: center;
padding: 14px 16px;
text-decoration: none;
transition: opacity 0.25s;

}

li a:hover:not(.active) {
background-color: #111;
opacity: 0.8;
}

.active {
background-color: #111;
}
.topheadmid{
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
}
.toplow{
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
}
